###
git+https://github.com/Masterolic/pyrogram.git
#https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.19.zip
tgcrypto
lyricsgenius
git+https://github.com/yt-dlp/yt-dlp/
git+https://github.com/coletdjnz/yt-dlp-youtube-oauth2.git
git+https://github.com/pukkandan/yt-dlp-YTAgeGateBypass/
python-dotenv
requests
asgiref
deezer-python
spotipy
psutil
youtube-dl
aiohttp
aiofiles
apscheduler
Flask==2.1.2
Werkzeug==2.1.2
pytz==2023.3
mutagen
pymongo
bs4
motor
Shazamio
youtube_search
youtube-search-python
Pillow
wget
youtube-search-python
